<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>monitor_switcher</string>
    <key>CFBundleIdentifier</key>
    <string>com.yourusername.quickmonitorswitcher</string> <!-- 请修改为您自己的标识符 -->
    <key>CFBundleName</key>
    <string>QuickMonitorSwitcher</string>
    <key>CFBundleDisplayName</key>
    <string>QuickMonitorSwitcher</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string> <!-- 图标文件名 -->
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9</string>
    <key>LSUIElement</key> <!-- 设置为true，应用将不在Dock栏显示图标，适合后台工具 -->
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string> <!-- 对于非Cocoa应用，这个可能不是必需的，但通常会包含 -->
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024 Your Name. All rights reserved.</string> <!-- 请修改为您的版权信息 -->
</dict>
</plist> 